@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: all;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

img.unselectable {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  -o-user-select: none;
}

#scroll-btn:hover {
  transform: translateY(-5px);
}

.clipped-image {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
}